.concontainer {
  background: linear-gradient(to right, #4299e0, #4caf50);
  padding: 30px 10px;
  text-align: center;
}

.heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
}

.subheading {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.icon {
  font-size: 2em;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #000;
}

.contactDetails h3 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #f0f0f0;
}

.contactDetails p {
  font-size: 1em;
  color: white;
  margin: 5px 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .heading {
    font-size: 2em;
  }
  .subheading {
    font-size: 1em;
  }
  .icon {
    font-size: 1.5em;
  }
  .contactDetails h3 {
    font-size: 1em;
  }
  .contactDetails p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5em;
  }
  .subheading {
    font-size: 0.9em;
  }
  .icon {
    font-size: 1.2em;
  }
  .contactDetails h3 {
    font-size: 0.9em;
  }
  .contactDetails p {
    font-size: 0.8em;
  }
}
